$brand-color: #172c4f;
$main-color: #162c4e;
$main-color-light: #1d4169;
$background-color: #fff;
$red-color: #df2224;
$subtitle-color: rgba(0, 0, 0, 0.8);
$placeholder-color: rgba(0, 0, 0, 0.6);
$title-color: #a4adb4;
$event-info-color: rgba(255, 255, 255, 0.8);
