@import './../../style/constants.scss';
@import './../../style/mixins.scss';

.buttonContainer {
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.75rem;

  @include respond(desktop) {
    padding-top: 40px;
  }

  .title {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: $subtitle-color;

    @include respond(desktop) {
      font-size: 16px;
    }
  }

  .link {
    background-color: $main-color-light;
    border-radius: 40px;
    padding: 16px 20px 16px 30px;
    display: flex;
    align-items: center;
    gap: 2rem;

    .text {
      color: $background-color;
      font-size: 18px;
      line-height: 150%;
    }
  }
}
