@import './../../style/constants.scss';
@import './../../style/mixins.scss';

.footer {
  position: relative;
  height: 192px;
  background-color: $main-color;
  display: flex;
  justify-content: center;
  align-items: center;

  @include respond(desktop) {
    flex-direction: column;
  }

  .form {
    width: 440px;
    border: 1px solid rgba(0, 0, 0, 0.8);
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.4);
    border-radius: 40px;
    background-color: $background-color;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include respond(desktop) {
      width: 360px;
    }

    @include respond(tablet) {
      width: 280px;
    }

    .input {
      font-family: 'Roboto', sans-serif;
      font-size: 18px;
      line-height: 150%;
      width: 320px;
      border-radius: 40px;
      padding: 16px 27px;

      @include respond(desktop) {
        font-size: 14px;
        width: 260px;
        padding: 10px 20px;
      }

      @include respond(tablet) {
        width: 280px;
      }
    }

    .button {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $red-color;
      width: 43px;
      height: 43px;
      border-radius: 100%;
      margin-right: 8px;

      @include respond(desktop) {
        width: 33px;
        height: 33px;
        margin-right: 4px;
      }

      @include respond(tablet) {
        width: 39px;
        height: 33px;
        margin-right: 4px;
      }

      .rightArrow {
        @include respond(desktop) {
          width: 15px;
          height: 15px;
        }
      }
    }
  }

  .event {
    cursor: pointer;
    position: absolute;
    right: 111px;
    top: 50%;
    display: flex;
    gap: 10px;
    align-items: center;
    background: transparent;
    font-size: 20px;
    line-height: 150%;
    color: $background-color;
    transform: translateY(-50%);

    @include respond(desktop) {
      position: static;
      margin-top: 25px;
    }

    .arrow {
      transform: rotate(90deg);
    }
  }
}
